{{define "servers"}}
<script>setInterval(fetchServerStatuses, 5000);</script>
<div class="row py-5">
    {{- if .Servers.List}}
    {{- range .Servers.List}}
    <div id="card_{{.UUID}}" class="col-sm-6 col-lg-4 mb-4">
        <div class="card shadow">
            <h4 class="card-header">
                {{.Name}}
                <div class="mb-0" style="float: right;">
                    <small>
                        {{template "runnningindicator" .}}
                        <a href="#" onclick="deleteServer('{{.UUID}}')" alt="delete server"><i class="bi-trash2 text-danger"></i></a>
                        <!-- <a href="#" onclick="" alt="configure server"><i class="bi-gear text-primary"></i></a> -->
                    </small>
                </div>
            </h4>
            <div class="card-body servercard">
                <h5 class="card-title">{{.MOTD}}</h5>
                <br />
                <p class="card-text">
                    <strong>Flavor:</strong> <span id="flavor_{{.UUID}}">{{.Flavor}}</span><br />
                    <strong>Release:</strong> <span id="release_{{.UUID}}">{{.Release}}</span><br />
                    <strong>Port:</strong> <span id="port_{{.UUID}}">{{.Port}}</span><br />
                    <strong>Autostart:</strong> <span id="autostart_{{.UUID}}">{{.AutoStart}}</span><br />
                    <strong>Ops:</strong> <span id="ops_{{.UUID}}">{{.Ops}}</span><br />
                    <strong>Players:</strong> <span id="players_{{.UUID}}">{{.Players}}</span><br />
                </p>
            </div>
        </div>
    </div>
    {{- end}}
    {{- else}}
    <div class="text-center lead text-muted">
        <p>Wow, looks pretty empty here...</p>
        <br />
        <p>Time to get your first server up and running.<br />
            Click the <i class="bi bi-minecart-loaded text-success"></i> button at the top of the page.</p>
    </div>
    {{- end}}
</div>
{{- end}}

{{- define "runnningindicator"}}
    <a id="startIndicator_{{.UUID}}" href="#" onclick="startServer('{{.UUID}}')" class="{{if .Running}}hidden{{end}}" alt="start server"><i class="bi-play-fill text-success disabled"></i></a>
    <a id="stopIndicator_{{.UUID}}" href="#" onclick="stopServer('{{.UUID}}')" class="{{if not .Running}}hidden{{end}}" alt="stop server"><i class="bi-stop-fill text-warning"></i></a>
{{- end}}